body{
	
	background-image:url("https://www.expatica.com/app/uploads/sites/3/2017/06/doctor-netherlands-1920x1080.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

a{
	font-size: 1.5rem;
	letter-spacing: 1px;
	font-weight: 600;
	
  }