body {
	background-image: url('https://www.med-technews.com/downloads/3134/download/digital%20hospital.jpg?cb=24e56a7a7a96505bf858207dda433399&w=1000');
	background-size: cover;
	background-position: center;
}

h1 {
	background: white;
	width: 100%;
	text-align: center;
	margin: 50px auto;
	padding: 10px 90px 10px 90px;
	border-radius: 15px;
	opacity: 0.7;
}

h3 {
	background-image: url();
	width: 60%;
	margin: 0 auto;
	background-position: center;
	border-radius: 100px;
	background-repeat: no-repeat;
	font-size: 2.75rem;
	font-weight: 800;
	z-index: 100;
	letter-spacing: 1.8px;
	opacity: 0.9;
	color: #fff;
}

form {
	margin: 0.6rem auto;
	border: 1px solid black;
	background: #7672ca;
	border-radius: 16px;
	text-align: left;
	padding: 8px 18px;
}
form input {
	margin: 10px;
}
form h2 {
	text-decoration: none;
}
.hidden {
	display: none;
}

.para {
	width: 450px;
	background: pink;
	text-align: center;
	margin-left: 350px;
}

.dc {
	width: 350px;
	background: rgb(200, 150, 100);
	text-align: center;
	margin-left: 350px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

.forms .btn {
	margin: 10% auto 5%;
}

.forms .btn {
	letter-spacing: 2px;
}

h2 {
	font-size: 2.2rem;
	letter-spacing: 1px;
	font-weight: 800;
}

.name1,
.name2,
.name3 {
	text-align: center;
	margin-bottom: 2.8rem;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'] {
	margin-left: -0.1rem;
}
