body{
	background-image:url("https://miro.medium.com/max/699/1*nxllcYW8wuyOAe0Owe83Bw.jpeg");
	background-repeat: no-repeat;
	background-size: cover;

}

i{
	font-size: 48px;
}

.text{
	font-weight: 800;
	letter-spacing: 2px;
	font-size: 4rem;
	text-align: center;
}

a{
	font-size: 1.5rem;
}
.link{
	text-transform: uppercase;
	text-align: center;
	font-size: 2rem;
	color: #000;
}


.container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}